In [1]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LogisticRegression, SGDClassifier
from sklearn.svm import SVC, LinearSVC
from sklearn.neural_network import MLPClassifier
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import GridSearchCV
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import scale
from sklearn.preprocessing import StandardScaler

In [2]:
lh_data = pd.read_csv("lh.csv", na_values="-1")
gold_data = pd.read_csv("gold.csv", na_values="-1")
train_data = pd.read_csv("train.csv", na_values="-1")

In [3]:
data = gold_data[gold_data["times"] == 600].add_prefix("gold_").merge(
    lh_data[lh_data["times"] == 600].add_prefix("lh_"), left_on="gold_mid", right_on="lh_mid", how="inner")
data.drop(["lh_times", "gold_mid", "gold_times"], axis=1, inplace=True)
data

,gold_player_0,gold_player_1,gold_player_2,gold_player_3,gold_player_4,gold_player_5,gold_player_6,gold_player_7,gold_player_8,gold_player_9,...,lh_player_0,lh_player_1,lh_player_2,lh_player_3,lh_player_4,lh_player_5,lh_player_6,lh_player_7,lh_player_8,lh_player_9
0,3454,5206,2613,4426,5755,4072,3997,5917,1725,6384,...,4,43,3,57,41,34,35,75,2,46
1,2477,5760,3816,4353,5759,7659,5066,2748,4440,4623,...,5,63,14,28,47,49,23,3,30,39
2,3604,1948,8581,4390,2869,3096,2301,5130,2530,2491,...,34,6,69,42,23,6,12,56,13,12
3,3457,5464,4432,2961,4314,3345,4791,1906,5328,2247,...,1,49,48,3,31,28,51,6,50,8
4,3675,4103,5154,3030,2076,3920,3494,3392,4458,2220,...,30,41,45,23,4,26,9,23,37,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49943,3754,3556,5388,3391,5634,2853,4447,3636,8245,5598,...,28,20,37,18,52,3,43,16,50,40
49944,4895,2580,4109,5610,2732,3564,5763,5538,4005,3027,...,39,1,21,62,6,1,58,50,10,15
49945,2325,1813,2530,4807,5542,2242,2359,5997,5523,2044,...,13,6,2,37,67,7,7,61,49,2
49946,4134,3141,4086,4405,3517,2887,7450,3634,5431,5451,...,2,24,15,23,30,9,72,4,51,36
49947,4371,2655,9069,4518,4494,3951,2421,4423,3963,4969,...,45,10,65,10,40,40,5,37,37,48

In [4]:
radiant_players_gold = ["gold_player_" + str(i) for i in range(0, 5)]
radiant_players_lh = ["lh_player_" + str(i) for i in range(0, 5)]
dire_players_gold = ["gold_player_" + str(i) for i in range(5, 10)]
dire_players_lh = ["lh_player_" + str(i) for i in range(5, 10)]

In [5]:
data.loc[:, "radiant_sum_gold"] = data[radiant_players_gold].sum(axis=1)
data.loc[:, "radiant_max_gold"] = data[radiant_players_gold].max(axis=1)
data.loc[:, "radiant_min_gold"] = data[radiant_players_gold].min(axis=1)

data.loc[:, "dire_sum_gold"] = data[dire_players_gold].sum(axis=1)
data.loc[:, "dire_max_gold"] = data[dire_players_gold].max(axis=1)
data.loc[:, "dire_min_gold"] = data[dire_players_gold].min(axis=1)

data.loc[:, "radiant_max_lh"] = data[radiant_players_lh].max(axis=1)
data.loc[:, "radiant_min_lh"] = data[radiant_players_lh].min(axis=1)
data.loc[:, "radiant_sum_lh"] = data[radiant_players_lh].sum(axis=1)

data.loc[:, "dire_max_lh"] = data[dire_players_lh].max(axis=1)
data.loc[:, "dire_min_lh"] = data[dire_players_lh].min(axis=1)
data.loc[:, "dire_sum_lh"] = data[dire_players_lh].sum(axis=1)

data.drop(radiant_players_gold + radiant_players_lh + dire_players_gold + dire_players_lh, inplace=True, axis=1)

data.set_index("lh_mid", inplace=True)
data.index.rename('mid', inplace=True)

In [6]:
xp_data = pd.read_csv("xp.csv", index_col="mid")

In [235]:
xp_data

,times,player_0,player_1,player_2,player_3,player_4,player_5,player_6,player_7,player_8,player_9
mid,,,,,,,,,,,
0,60,79,214,147,222,147,94,78,396,94,147
0,120,321,719,423,777,421,490,607,895,241,365
0,180,356,1333,424,1300,638,922,937,1259,242,590
0,240,544,1752,441,1782,1348,1460,1163,2037,242,658
0,300,724,2002,565,2087,1807,2102,1498,2389,276,1020
...,...,...,...,...,...,...,...,...,...,...,...
49947,360,1826,708,2649,1568,2124,2283,858,1337,2759,2360
49947,420,2068,1153,3081,1878,2700,2533,906,1618,3259,2764
49947,480,2358,1152,3539,2266,2881,3057,1029,1811,3911,3260
49947,540,2698,1168,5034,2721,3107,3300,1217,2151,4116,3901
49947,600,3050,1602,5437,2868,3678,3425,1489,2299,4616,4402

In [7]:
data_with_xp = data.merge(xp_data[xp_data['times'] == 600], left_index=True, right_index=True)

In [8]:
data_with_xp

,radiant_sum_gold,radiant_max_gold,radiant_min_gold,dire_sum_gold,dire_max_gold,dire_min_gold,radiant_max_lh,radiant_min_lh,radiant_sum_lh,dire_max_lh,...,player_0,player_1,player_2,player_3,player_4,player_5,player_6,player_7,player_8,player_9
mid,,,,,,,,,,,,,,,,,,,,,
0,21454,5755,2613,22095,6384,1725,57,3,148,75,...,1696,4304,1606,4429,3821,3745,3635,4846,357,2347
1,22165,5760,2477,24536,7659,2748,63,5,157,49,...,1542,4481,1961,2437,4810,4514,3510,2248,3403,3662
2,21392,8581,1948,15548,5130,2301,69,6,174,56,...,2851,1986,6234,2667,4265,2402,1541,3212,2864,2426
3,20628,5464,2961,17617,5328,1906,49,1,132,51,...,1145,4640,4202,1769,3786,3529,2962,1400,4512,1530
4,18038,5154,2076,17484,4458,2220,45,4,143,37,...,2197,3525,4855,3239,1518,3373,1935,2563,3281,1924
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49943,21723,5634,3391,24779,8245,2853,52,18,155,50,...,1973,2317,4578,2366,4070,1911,3200,2245,6009,3850
49944,19926,5610,2580,21897,5763,3027,62,1,129,58,...,4117,1190,3020,3774,2062,1425,4889,4347,3218,2966
49945,17017,5542,1813,18165,5997,2044,67,2,125,61,...,1999,2236,1024,4695,3544,2365,1783,3339,4448,1271
49946,19283,4405,3141,24853,7450,2887,30,2,94,72,...,2293,3086,2518,3612,2686,2573,4360,2395,5008,2929
49947,25107,9069,2655,19727,4969,2421,65,10,170,48,...,3050,1602,5437,2868,3678,3425,1489,2299,4616,4402

In [9]:
data_with_xp.loc[:, "radiant_sum_xp"] = data_with_xp[['player_' + str(i) for i in range(0, 5)]].sum(axis=1)
data_with_xp.loc[:, "radiant_max_xp"] = data_with_xp[['player_' + str(i) for i in range(0, 5)]].max(axis=1)
data_with_xp.loc[:, "radiant_min_xp"] = data_with_xp[['player_' + str(i) for i in range(0, 5)]].min(axis=1)

data_with_xp.loc[:, "dire_sum_xp"] = data_with_xp[['player_' + str(i) for i in range(5, 10)]].sum(axis=1)
data_with_xp.loc[:, "dire_max_xp"] = data_with_xp[['player_' + str(i) for i in range(5, 10)]].max(axis=1)
data_with_xp.loc[:, "dire_min_xp"] = data_with_xp[['player_' + str(i) for i in range(5, 10)]].min(axis=1)

data_with_xp

,radiant_sum_gold,radiant_max_gold,radiant_min_gold,dire_sum_gold,dire_max_gold,dire_min_gold,radiant_max_lh,radiant_min_lh,radiant_sum_lh,dire_max_lh,...,player_6,player_7,player_8,player_9,radiant_sum_xp,radiant_max_xp,radiant_min_xp,dire_sum_xp,dire_max_xp,dire_min_xp
mid,,,,,,,,,,,,,,,,,,,,,
0,21454,5755,2613,22095,6384,1725,57,3,148,75,...,3635,4846,357,2347,15856,4429,1606,14930,4846,357
1,22165,5760,2477,24536,7659,2748,63,5,157,49,...,3510,2248,3403,3662,15231,4810,1542,17337,4514,2248
2,21392,8581,1948,15548,5130,2301,69,6,174,56,...,1541,3212,2864,2426,18003,6234,1986,12445,3212,1541
3,20628,5464,2961,17617,5328,1906,49,1,132,51,...,2962,1400,4512,1530,15542,4640,1145,13933,4512,1400
4,18038,5154,2076,17484,4458,2220,45,4,143,37,...,1935,2563,3281,1924,15334,4855,1518,13076,3373,1924
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49943,21723,5634,3391,24779,8245,2853,52,18,155,50,...,3200,2245,6009,3850,15304,4578,1973,17215,6009,1911
49944,19926,5610,2580,21897,5763,3027,62,1,129,58,...,4889,4347,3218,2966,14163,4117,1190,16845,4889,1425
49945,17017,5542,1813,18165,5997,2044,67,2,125,61,...,1783,3339,4448,1271,13498,4695,1024,13206,4448,1271
49946,19283,4405,3141,24853,7450,2887,30,2,94,72,...,4360,2395,5008,2929,14195,3612,2293,17265,5008,2395
49947,25107,9069,2655,19727,4969,2421,65,10,170,48,...,1489,2299,4616,4402,16635,5437,1602,16231,4616,1489

In [10]:
data_with_xp.drop(['player_' + str(i) for i in range(0, 10)], inplace=True, axis=1)

In [11]:
data_with_xp.drop("times", inplace=True, axis=1)

In [12]:
heros_data = pd.read_csv("heroes.csv", index_col='mid')

In [54]:
heros_data

,player_0,player_1,player_2,player_3,player_4,player_5,player_6,player_7,player_8,player_9
mid,,,,,,,,,,
0,91,42,87,15,65,11,6,34,69,74
1,69,85,71,24,64,74,68,39,65,11
2,17,40,31,67,99,32,7,72,48,104
3,80,43,101,71,94,69,70,98,24,39
4,25,15,75,29,95,3,32,55,64,86
...,...,...,...,...,...,...,...,...,...,...
49943,3,89,75,81,29,40,94,47,56,68
49944,64,92,69,82,18,104,81,29,5,28
49945,99,109,96,15,2,69,91,53,77,87
49946,69,32,64,65,8,21,22,40,75,59
49947,8,41,74,10,96,44,66,67,13,48

In [59]:
encoder = OneHotEncoder(sparse=False)

radiant = pd.DataFrame()

radiant = encoder.fit_transform(heros_data[["player_0"]])+ encoder.fit_transform(heros_data[["player_1"]]) + \
            encoder.fit_transform(heros_data[["player_2"]]) + encoder.fit_transform(heros_data[["player_3"]]) + \
encoder.fit_transform(heros_data[["player_4"]])

dire =  ( encoder.fit_transform(heros_data[["player_5"]]) + encoder.fit_transform(heros_data[["player_6"]]) + \
    encoder.fit_transform(heros_data[["player_7"]]) + encoder.fit_transform(heros_data[["player_8"]])  + \
    encoder.fit_transform(heros_data[["player_9"]]))

In [60]:
a = np.hstack((radiant, dire))
a

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 1., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [72]:
heros_data

,player_0,player_1,player_2,player_3,player_4,player_5,player_6,player_7,player_8,player_9
mid,,,,,,,,,,
0,91,42,87,15,65,11,6,34,69,74
1,69,85,71,24,64,74,68,39,65,11
2,17,40,31,67,99,32,7,72,48,104
3,80,43,101,71,94,69,70,98,24,39
4,25,15,75,29,95,3,32,55,64,86
...,...,...,...,...,...,...,...,...,...,...
49943,3,89,75,81,29,40,94,47,56,68
49944,64,92,69,82,18,104,81,29,5,28
49945,99,109,96,15,2,69,91,53,77,87
49946,69,32,64,65,8,21,22,40,75,59
49947,8,41,74,10,96,44,66,67,13,48

In [96]:
gold_wih_heroes = k.copy()

gold_info = gold_data[gold_data['times'] == 600].copy()
gold_info.set_index('mid', inplace=True)

counter = 0

for index, row in heros_data.iterrows():
    for j in range(0, 5):
        gold_wih_heroes.loc[index, row['player_' + str(j)]] *= \
        gold_info.loc[index, 'player_' + str(j)]
        
    for j in range(0, 5):
        gold_wih_heroes.loc[index, row['player_' + str(j)] + 110] *= \
        gold_info.loc[index, 'player_' + str(j)]

In [16]:
heroes_encoded = pd.DataFrame(a, columns=["radiant_hero_" + str(i) for i in range(0, radiant.shape[1])] + \
                              ["dire_hero_" + str(i) for i in range(0, dire.shape[1])])

In [17]:
heroes_encoded.sum(axis=1)

0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
        ...
49943    0.0
49944    0.0
49945    0.0
49946    0.0
49947    0.0
Length: 49948, dtype: float64

In [18]:
scaler = StandardScaler()

In [20]:
items_data = pd.read_csv("items.csv", )

In [21]:
items_data.fillna(0, inplace=True)

In [22]:
items_data

,mid,player,item_0,item_1,item_2,item_3,item_4,item_5,item_6,item_7,...,item_111,item_112,item_113,item_114,item_115,item_116,item_117,item_118,item_119,item_120
0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0,2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0,3,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0,4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
499407,49947,5,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
499408,49947,6,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0
499409,49947,7,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
499410,49947,8,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
499411,49947,9,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0

In [23]:
items_data.set_index('mid', inplace=True)

In [24]:
items_data['team'] = items_data.apply(lambda row: 'radiant' if row['player'] < 5 else 'dire', axis = 1)

In [25]:
items_sum = items_data.groupby(['mid', 'team']).sum()

In [26]:
items_sum = items_sum.unstack(level='team')

In [27]:
items_sum.columns = ['_'.join(col) for col in items_sum.columns]

In [257]:
items_sum

,player_dire,player_radiant,item_0_dire,item_0_radiant,item_1_dire,item_1_radiant,item_2_dire,item_2_radiant,item_3_dire,item_3_radiant,...,item_116_dire,item_116_radiant,item_117_dire,item_117_radiant,item_118_dire,item_118_radiant,item_119_dire,item_119_radiant,item_120_dire,item_120_radiant
mid,,,,,,,,,,,,,,,,,,,,,
0,35,10,0.0,0.0,2.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,35,10,0.0,0.0,2.0,2.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,35,10,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,35,10,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,35,10,0.0,0.0,4.0,5.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49943,35,10,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,...,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
49944,35,10,0.0,0.0,2.0,2.0,0.0,0.0,0.0,0.0,...,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
49945,35,10,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
49946,35,10,0.0,0.0,2.0,2.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
49947,35,10,0.0,0.0,4.0,2.0,0.0,0.0,0.0,0.0,...,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [28]:
items_sum.drop(["player_dire", "player_radiant"], axis=1, inplace=True)

In [29]:
events_data = pd.read_csv("events.csv")

In [30]:
events_data

         mid  event_type from_team  time
0          0           3   radiant     1
1          1           3   radiant   222
2          2           3      dire   143
3          3           3   radiant   143
4          4           3      dire    53
...      ...         ...       ...   ...
69115  49945           3      dire   432
69116  49945           6      dire   498
69117  49946           3      dire    69
69118  49946           6      dire   439
69119  49947           3   radiant    57

[69120 rows x 4 columns]

In [31]:
events_agr = pd.DataFrame(events_data[events_data['time'] <= 600].groupby(["mid", 'event_type', 'from_team']).size(), columns=['count'])

In [32]:
events_sum = events_agr.unstack(['from_team', 'event_type'], fill_value=0)

In [33]:
events_sum.columns = events_sum.columns.droplevel(0)

In [264]:
events_sum

from_team  radiant dire radiant dire radiant dire       radiant       dire     \
event_type       3    3       6    6       5    5  0  4       0  4  1    2  1
mid
0                1    0       0    0       0    0  0  0       0  0  0    0  0
1                1    0       0    0       0    0  0  0       0  0  0    0  0
2                0    1       0    0       0    0  0  0       0  0  0    0  0
3                1    0       0    0       0    0  0  0       0  0  0    0  0
4                0    1       0    0       0    0  0  0       0  0  0    0  0
...            ...  ...     ...  ...     ...  ... .. ..     ... .. ..  ... ..
49943            1    0       0    1       0    0  0  0       0  0  0    0  0
49944            0    1       0    0       0    0  0  0       0  0  0    0  0
49945            0    1       0    1       0    0  0  0       0  0  0    0  0
49946            0    1       0    1       0    0  0  0       0  0  0    0  0
49947            1    0       0    0       0    0  0  0       0  0  0    0  0

from_team  radiant
event_type       2
mid
0                0
1                0
2                0
3                0
4                0
...            ...
49943            0
49944            0
49945            0
49946            0
49947            0

[49057 rows x 14 columns]

In [265]:
events_sum.columns

MultiIndex([('radiant', 3),
            (   'dire', 3),
            ('radiant', 6),
            (   'dire', 6),
            ('radiant', 5),
            (   'dire', 5),
            (   'dire', 0),
            (   'dire', 4),
            ('radiant', 0),
            ('radiant', 4),
            ('radiant', 1),
            (   'dire', 2),
            (   'dire', 1),
            ('radiant', 2)],
           names=['from_team', 'event_type'])

In [34]:
events_sum.columns = [team + '_' + str(num) for team, num in events_sum.columns]

In [35]:
events_sum = events_sum.reindex(sorted(events_sum.columns), axis=1)

In [36]:
events_sum.head(10)

,dire_0,dire_1,dire_2,dire_3,dire_4,dire_5,dire_6,radiant_0,radiant_1,radiant_2,radiant_3,radiant_4,radiant_5,radiant_6
mid,,,,,,,,,,,,,,
0,0,0,0,0,0,0,0,0,0,0,1,0,0,0
1,0,0,0,0,0,0,0,0,0,0,1,0,0,0
2,0,0,0,1,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,1,0,0,0
4,0,0,0,1,0,0,0,0,0,0,0,0,0,0
6,0,0,0,0,0,0,0,0,0,0,1,0,0,1
7,0,0,0,1,0,0,0,0,0,0,0,0,0,2
8,0,0,0,1,0,0,1,0,0,0,0,0,0,0
9,0,0,0,1,0,0,0,0,0,0,0,0,0,0
10,0,0,0,0,0,0,0,0,0,0,1,0,0,0

In [112]:
gold_wih_heroes

,0,1,2,3,4,5,6,7,8,9,...,212,213,214,215,216,217,218,219,220,221
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49943,0.0,0.0,0.0,3754.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
49944,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
49945,0.0,0.0,5542.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
49946,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3517.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
49947,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4371.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [37]:
data_with_xp = pd.DataFrame(scaler.fit_transform(data_with_xp), columns=data_with_xp.columns, index = data_with_xp.index)

In [38]:
data_with_xp = data_with_xp.join(items_sum)

In [39]:
data_with_xp = data_with_xp.join(events_sum, how='inner')

In [136]:
data_with_heroes_xp = data_with_xp.join(pd.DataFrame(scaler.fit_transform(gold_wih_heroes)))

In [137]:
test_data = pd.read_csv("test.csv")

In [138]:
data_for_test = test_data.merge(data_with_heroes_xp, right_index=True, left_on='mid', how='left')

In [139]:
data_for_test.drop("mid", axis=1, inplace=True)

In [140]:
data_for_test.fillna(0, inplace=True)

In [141]:
data_for_train = pd.merge(data_with_heroes_xp, train_data, left_index=True, right_on='mid', how='inner')

In [142]:
data_for_train.drop("mid", axis=1, inplace=True)

In [143]:
target = data_for_train.pop('radiant_won')

radiant_sum_gold    False
radiant_max_gold    False
radiant_min_gold    False
dire_sum_gold       False
dire_max_gold       False
                    ...
dire_hero_106       False
dire_hero_107       False
dire_hero_108       False
dire_hero_109       False
dire_hero_110       False
Length: 496, dtype: bool

In [144]:
log_reg_pipe_multy = LogisticRegression(max_iter=100000, solver='liblinear')

log_reg_scale_params_multy_xp = {'penalty' : ['l1', 'l2'],
                              'C' : [i for i in np.logspace(-3, 3, 7)]}                        

log_reg_clf_multy_xp = GridSearchCV(log_reg_pipe_multy, log_reg_scale_params_multy_xp, scoring='roc_auc', n_jobs=-1, cv=5)

In [ ]:
log_reg_clf_multy_xp.fit(data_for_train, target)

In [242]:
res = result5.copy()

In [123]:
log_reg_clf_multy_xp.cv_results_

{'mean_fit_time': array([25.38962493, 32.23082848, 28.79061742, 34.83443723, 30.48157778,
        37.25841293, 29.86320143, 43.47922277, 33.75707841, 48.41762652,
        35.85706553, 47.74775133, 32.60698586, 52.41953106, 33.50338979,
        45.81564503, 23.64722071, 28.29811511, 17.86400332, 23.45444708]),
 'std_fit_time': array([4.02545157, 2.76113401, 4.26477897, 2.36677672, 4.52410167,
        4.2002046 , 2.68572555, 4.28742739, 3.06935196, 5.16944307,
        3.90459401, 7.51757864, 4.60282316, 4.93061279, 2.7840286 ,
        2.88851752, 5.2075253 , 1.32008571, 1.8997597 , 1.33609604]),
 'mean_score_time': array([0.31014371, 0.20710325, 0.2168859 , 0.17893038, 0.1838727 ,
        0.18320541, 0.14556208, 0.18604918, 0.28976426, 0.17338314,
        0.27245231, 0.18147483, 0.29919405, 0.28730931, 0.21887183,
        0.07733088, 0.07282953, 0.06790776, 0.10280867, 0.04061737]),
 'std_score_time': array([0.1360206 , 0.09607345, 0.11275584, 0.05565336, 0.09240737,
        0.0510449 , 0.0901196 , 0.11385681, 0.26538821, 0.07287339,
        0.10820655, 0.10798351, 0.2570108 , 0.09646993, 0.16823258,
        0.0065538 , 0.00401252, 0.00350341, 0.08396197, 0.00919122]),
 'param_C': masked_array(data=[0.1, 0.1, 0.11, 0.11, 0.12, 0.12, 0.13, 0.13,
                    0.13999999999999999, 0.13999999999999999,
                    0.14999999999999997, 0.14999999999999997,
                    0.15999999999999998, 0.15999999999999998,
                    0.16999999999999998, 0.16999999999999998,
                    0.17999999999999997, 0.17999999999999997,
                    0.18999999999999995, 0.18999999999999995],
              mask=[False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False],
        fill_value='?',
             dtype=object),
 'param_penalty': masked_array(data=['l1', 'l2', 'l1', 'l2', 'l1', 'l2', 'l1', 'l2', 'l1',
                    'l2', 'l1', 'l2', 'l1', 'l2', 'l1', 'l2', 'l1', 'l2',
                    'l1', 'l2'],
              mask=[False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False],
        fill_value='?',
             dtype=object),
 'params': [{'C': 0.1, 'penalty': 'l1'},
  {'C': 0.1, 'penalty': 'l2'},
  {'C': 0.11, 'penalty': 'l1'},
  {'C': 0.11, 'penalty': 'l2'},
  {'C': 0.12, 'penalty': 'l1'},
  {'C': 0.12, 'penalty': 'l2'},
  {'C': 0.13, 'penalty': 'l1'},
  {'C': 0.13, 'penalty': 'l2'},
  {'C': 0.13999999999999999, 'penalty': 'l1'},
  {'C': 0.13999999999999999, 'penalty': 'l2'},
  {'C': 0.14999999999999997, 'penalty': 'l1'},
  {'C': 0.14999999999999997, 'penalty': 'l2'},
  {'C': 0.15999999999999998, 'penalty': 'l1'},
  {'C': 0.15999999999999998, 'penalty': 'l2'},
  {'C': 0.16999999999999998, 'penalty': 'l1'},
  {'C': 0.16999999999999998, 'penalty': 'l2'},
  {'C': 0.17999999999999997, 'penalty': 'l1'},
  {'C': 0.17999999999999997, 'penalty': 'l2'},
  {'C': 0.18999999999999995, 'penalty': 'l1'},
  {'C': 0.18999999999999995, 'penalty': 'l2'}],
 'split0_test_score': array([0.75133986, 0.74905427, 0.75123498, 0.74901145, 0.7510848 ,
        0.74898407, 0.75097544, 0.74895238, 0.75086525, 0.7489157 ,
        0.75080069, 0.74887753, 0.75073597, 0.74884468, 0.75065765,
        0.74881033, 0.75058944, 0.74877432, 0.75052555, 0.74874461]),
 'split1_test_score': array([0.74949777, 0.74910233, 0.74944548, 0.74909038, 0.74948051,
        0.74908922, 0.74951089, 0.74909403, 0.74950259, 0.74908706,
        0.74949462, 0.74908075, 0.74946972, 0.74909303, 0.74944963,
        0.74909967, 0.74941809, 0.74910299, 0.74940979, 0.74909768]),
 'split2_test_score': array([0.74724714, 0.74409922, 0.74708462, 0.74406619, 0.74692558,
        0.74403647, 0.74675027, 0.74400659, 0.74660883, 0.74397571,
        0.74647203, 0.74395678, 0.7463706 , 0.74393769, 0.74631681,
        0.74391943, 0.74623879, 0.74390499, 0.74615678, 0.74390316]),
 'split3_test_score': array([0.73359779, 0.73166524, 0.73342663, 0.73161942, 0.73327523,
        0.73159552, 0.73313246, 0.73156945, 0.73305061, 0.73156547,
        0.73295981, 0.73153725, 0.73287663, 0.73150571, 0.73280691,
        0.73148645, 0.73272905, 0.73147333, 0.73265899, 0.73144926]),
 'split4_test_score': array([0.75001141, 0.74776992, 0.74997041, 0.74766931, 0.74993256,
        0.74758946, 0.74989321, 0.74751276, 0.74983693, 0.74746113,
        0.74976389, 0.74739822, 0.74969466, 0.74734343, 0.74963008,
        0.74729794, 0.74956335, 0.74726375, 0.74946058, 0.74721544]),
 'mean_test_score': array([0.7463388 , 0.7443382 , 0.74623242, 0.74429135, 0.74613973,
        0.74425895, 0.74605245, 0.74422704, 0.74597284, 0.74420101,
        0.74589821, 0.74417011, 0.74582952, 0.74414491, 0.74577222,
        0.74412276, 0.74570774, 0.74410388, 0.74564234, 0.74408203]),
 'std_test_score': array([0.00650594, 0.00659357, 0.00654273, 0.00659316, 0.00657439,
        0.00659033, 0.0066085 , 0.00658901, 0.00661384, 0.00657933,
        0.00662787, 0.00657768, 0.00663828, 0.00658171, 0.00664334,
        0.00658092, 0.00665119, 0.00657813, 0.00665508, 0.00657774]),
 'rank_test_score': array([ 1, 11,  2, 12,  3, 13,  4, 14,  5, 15,  6, 16,  7, 17,  8, 18,  9,
        19, 10, 20], dtype=int32)}

0.76075083
0.76075196

0.76236785

0.76567471
0.76625249
0.76631909

0.76617235

0.76055547

0.75803188

In [287]:
svc_parms = {'C': [i for i in np.arange(0.1, 1.5, 0.1)], 
             'kernel' : ['poly', 'rbf', 'sigmoid']}
svc = SVC(max_iter=20000, verbose=True)
svc_clf = GridSearchCV(svc, svc_parms, scoring='roc_auc', n_jobs=-1, cv=5)

In [328]:
svc_clf.fit(data_for_train, target )

NameError: name 'svc_clf' is not defined

In [277]:
svc_clf.cv_results_

{'mean_fit_time': array([6.42945795, 4.58632817, 9.23084579, 5.86177521, 5.83884621,
        6.96167645, 4.74170551, 7.26357002, 8.52778306, 5.09948072]),
 'std_fit_time': array([3.02773355, 1.6332551 , 5.0157206 , 1.65927766, 1.31841451,
        2.47779436, 1.66348419, 4.11994137, 2.37824849, 1.56794555]),
 'mean_score_time': array([0.06487203, 0.05697522, 0.05492301, 0.0473917 , 0.05224781,
        0.05417233, 0.04697137, 0.04335623, 0.03720393, 0.03143806]),
 'std_score_time': array([0.01457834, 0.02289509, 0.0116445 , 0.0095709 , 0.01168122,
        0.00956299, 0.00834084, 0.01001687, 0.01754095, 0.01140868]),
 'param_C': masked_array(data=[0.5, 0.6, 0.7, 0.7999999999999999, 0.8999999999999999,
                    0.9999999999999999, 1.0999999999999999,
                    1.1999999999999997, 1.2999999999999998, 1.4],
              mask=[False, False, False, False, False, False, False, False,
                    False, False],
        fill_value='?',
             dtype=object),
 'params': [{'C': 0.5},
  {'C': 0.6},
  {'C': 0.7},
  {'C': 0.7999999999999999},
  {'C': 0.8999999999999999},
  {'C': 0.9999999999999999},
  {'C': 1.0999999999999999},
  {'C': 1.1999999999999997},
  {'C': 1.2999999999999998},
  {'C': 1.4}],
 'split0_test_score': array([0.76544942, 0.76543738, 0.76543433, 0.76543513, 0.76543545,
        0.7654332 , 0.76542951, 0.76543064, 0.7654218 , 0.7654255 ]),
 'split1_test_score': array([0.76171098, 0.76170504, 0.76169669, 0.76169396, 0.76170424,
        0.76169316, 0.76170022, 0.76170006, 0.76169525, 0.76168834]),
 'split2_test_score': array([0.76350546, 0.76347752, 0.76346644, 0.76346307, 0.76345247,
        0.76344974, 0.76345552, 0.76344155, 0.76344525, 0.76344573]),
 'split3_test_score': array([0.75012251, 0.75009794, 0.75007627, 0.75006278, 0.75006182,
        0.75005748, 0.75004014, 0.75004094, 0.7500334 , 0.75002842]),
 'split4_test_score': array([0.76017332, 0.76012625, 0.76008674, 0.76004979, 0.76003566,
        0.76002602, 0.76000707, 0.75999631, 0.75998008, 0.75997173]),
 'mean_test_score': array([0.76019234, 0.76016883, 0.76015209, 0.76014095, 0.76013793,
        0.76013192, 0.76012649, 0.7601219 , 0.76011516, 0.76011194]),
 'std_test_score': array([0.0053352 , 0.00533834, 0.00534414, 0.00534892, 0.00534868,
        0.00534892, 0.00535593, 0.00535415, 0.0053555 , 0.0053578 ]),
 'rank_test_score': array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10], dtype=int32)}

In [124]:
result_raw = log_reg_clf_multy_xp.predict_proba(data_for_test)

In [279]:
mlcp_params = {'hidden_layer_sizes': [35, 32, 30, 28, 25, 23, 20, 19, 17, 15, 13, 10, 8, 5, 2],
              'activation' : ['logistic', 'tanh', 'relu']}


perceptron = MLPClassifier(activation='logistic')
mplr_clf = GridSearchCV(perceptron, mlcp_params, scoring='roc_auc', n_jobs=-1, cv=5)

In [281]:
mplr_clf.fit(data_for_train, target)

GridSearchCV(cv=5, estimator=MLPClassifier(activation='logistic'), n_jobs=-1,
             param_grid={'activation': ['logistic', 'tanh', 'relu'],
                         'hidden_layer_sizes': [35, 32, 30, 28, 25, 23, 20, 19,
                                                17, 15, 13, 10, 8, 5, 2]},
             scoring='roc_auc')

In [282]:
mplr_clf.cv_results_

{'mean_fit_time': array([101.55167823,  62.28853502, 123.3159729 , 120.08171902,
        125.52208014, 147.01923385, 162.73759995, 133.49835958,
        100.11068521,  80.37599125,  85.44808664, 103.55071487,
         89.75465469, 117.02550774,  73.01282983, 204.47854991,
        190.74120708, 198.35513811, 169.11947441, 122.35598798,
        121.48866682, 113.76298194, 114.6133604 , 109.15546761,
        106.95847898, 102.90032716, 100.43945055,  99.18267794,
         98.86119838,  61.49700961, 123.80588975, 113.2167346 ,
        116.73021574, 112.5657824 , 109.49092731, 113.26187124,
        113.64550595, 155.60574102, 130.4505559 , 133.9963273 ,
        107.67674522,  97.95571389, 141.08107257, 100.9073709 ,
         51.43307738]),
 'std_fit_time': array([74.45775472, 57.88390693, 73.61961112, 70.06065873, 74.8116455 ,
        53.05233923,  3.29482753, 52.95243088, 60.41118893, 59.33707147,
        49.34669375, 42.20494232, 49.44041106, 50.50769989, 28.52704352,
        13.42524663, 16.65056469, 13.09267941, 15.56003059,  5.81682401,
         5.14867027,  4.47743169,  5.48492287,  4.76737   ,  4.06321629,
         3.84231757,  3.30804829,  3.55551461,  5.95800761, 13.26171954,
         2.78134329,  3.99347368,  4.11651187,  4.5293854 ,  4.17091528,
         5.62980799,  8.2369225 , 15.80676287,  9.85461946, 18.12209949,
         1.05183339,  3.06565026, 11.65796366, 11.74117059,  7.042062  ]),
 'mean_score_time': array([0.08320704, 0.07179132, 0.06606007, 0.07424617, 0.06371207,
        0.07386465, 0.07385221, 0.06244226, 0.06525908, 0.0532001 ,
        0.05017529, 0.0543324 , 0.05709791, 0.05654349, 0.07252941,
        0.10951214, 0.09150229, 0.09232244, 0.06083179, 0.055865  ,
        0.05762472, 0.05089803, 0.04997511, 0.0457325 , 0.04993496,
        0.04668508, 0.04243741, 0.03778353, 0.03839068, 0.03295598,
        0.04749851, 0.04759068, 0.05204701, 0.04132509, 0.04484639,
        0.04331818, 0.05089078, 0.084057  , 0.04873676, 0.04435811,
        0.04349079, 0.04700198, 0.04670534, 0.0292717 , 0.0316834 ]),
 'std_score_time': array([0.00814618, 0.00397122, 0.01034795, 0.01250319, 0.00433077,
        0.0202688 , 0.01366592, 0.0028352 , 0.01180034, 0.00912694,
        0.00478393, 0.00576403, 0.02229046, 0.01560837, 0.02039361,
        0.02392907, 0.01715265, 0.0221271 , 0.00613862, 0.00483796,
        0.00575351, 0.00520175, 0.00494523, 0.00331665, 0.0059897 ,
        0.00827519, 0.00361554, 0.00216609, 0.00364893, 0.00241473,
        0.00415835, 0.00878015, 0.01083942, 0.00155602, 0.00618431,
        0.00328883, 0.01434196, 0.03208124, 0.01081532, 0.00459764,
        0.00688052, 0.00839536, 0.01383061, 0.00728503, 0.00700819]),
 'param_activation': masked_array(data=['logistic', 'logistic', 'logistic', 'logistic',
                    'logistic', 'logistic', 'logistic', 'logistic',
                    'logistic', 'logistic', 'logistic', 'logistic',
                    'logistic', 'logistic', 'logistic', 'tanh', 'tanh',
                    'tanh', 'tanh', 'tanh', 'tanh', 'tanh', 'tanh', 'tanh',
                    'tanh', 'tanh', 'tanh', 'tanh', 'tanh', 'tanh', 'relu',
                    'relu', 'relu', 'relu', 'relu', 'relu', 'relu', 'relu',
                    'relu', 'relu', 'relu', 'relu', 'relu', 'relu', 'relu'],
              mask=[False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False],
        fill_value='?',
             dtype=object),
 'param_hidden_layer_sizes': masked_array(data=[35, 32, 30, 28, 25, 23, 20, 19, 17, 15, 13, 10, 8, 5,
                    2, 35, 32, 30, 28, 25, 23, 20, 19, 17, 15, 13, 10, 8,
                    5, 2, 35, 32, 30, 28, 25, 23, 20, 19, 17, 15, 13, 10,
                    8, 5, 2],
              mask=[False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False],
        fill_value='?',
             dtype=object),
 'params': [{'activation': 'logistic', 'hidden_layer_sizes': 35},
  {'activation': 'logistic', 'hidden_layer_sizes': 32},
  {'activation': 'logistic', 'hidden_layer_sizes': 30},
  {'activation': 'logistic', 'hidden_layer_sizes': 28},
  {'activation': 'logistic', 'hidden_layer_sizes': 25},
  {'activation': 'logistic', 'hidden_layer_sizes': 23},
  {'activation': 'logistic', 'hidden_layer_sizes': 20},
  {'activation': 'logistic', 'hidden_layer_sizes': 19},
  {'activation': 'logistic', 'hidden_layer_sizes': 17},
  {'activation': 'logistic', 'hidden_layer_sizes': 15},
  {'activation': 'logistic', 'hidden_layer_sizes': 13},
  {'activation': 'logistic', 'hidden_layer_sizes': 10},
  {'activation': 'logistic', 'hidden_layer_sizes': 8},
  {'activation': 'logistic', 'hidden_layer_sizes': 5},
  {'activation': 'logistic', 'hidden_layer_sizes': 2},
  {'activation': 'tanh', 'hidden_layer_sizes': 35},
  {'activation': 'tanh', 'hidden_layer_sizes': 32},
  {'activation': 'tanh', 'hidden_layer_sizes': 30},
  {'activation': 'tanh', 'hidden_layer_sizes': 28},
  {'activation': 'tanh', 'hidden_layer_sizes': 25},
  {'activation': 'tanh', 'hidden_layer_sizes': 23},
  {'activation': 'tanh', 'hidden_layer_sizes': 20},
  {'activation': 'tanh', 'hidden_layer_sizes': 19},
  {'activation': 'tanh', 'hidden_layer_sizes': 17},
  {'activation': 'tanh', 'hidden_layer_sizes': 15},
  {'activation': 'tanh', 'hidden_layer_sizes': 13},
  {'activation': 'tanh', 'hidden_layer_sizes': 10},
  {'activation': 'tanh', 'hidden_layer_sizes': 8},
  {'activation': 'tanh', 'hidden_layer_sizes': 5},
  {'activation': 'tanh', 'hidden_layer_sizes': 2},
  {'activation': 'relu', 'hidden_layer_sizes': 35},
  {'activation': 'relu', 'hidden_layer_sizes': 32},
  {'activation': 'relu', 'hidden_layer_sizes': 30},
  {'activation': 'relu', 'hidden_layer_sizes': 28},
  {'activation': 'relu', 'hidden_layer_sizes': 25},
  {'activation': 'relu', 'hidden_layer_sizes': 23},
  {'activation': 'relu', 'hidden_layer_sizes': 20},
  {'activation': 'relu', 'hidden_layer_sizes': 19},
  {'activation': 'relu', 'hidden_layer_sizes': 17},
  {'activation': 'relu', 'hidden_layer_sizes': 15},
  {'activation': 'relu', 'hidden_layer_sizes': 13},
  {'activation': 'relu', 'hidden_layer_sizes': 10},
  {'activation': 'relu', 'hidden_layer_sizes': 8},
  {'activation': 'relu', 'hidden_layer_sizes': 5},
  {'activation': 'relu', 'hidden_layer_sizes': 2}],
 'split0_test_score': array([0.76523892, 0.7651466 , 0.76560389, 0.74440527, 0.76542197,
        0.74416795, 0.74854705, 0.74780604, 0.74725289, 0.76523587,
        0.76532514, 0.76509313, 0.7654483 , 0.76470263, 0.7637036 ,
        0.66517919, 0.66892068, 0.67300851, 0.66519059, 0.66912588,
        0.68833767, 0.66928532, 0.68680058, 0.67766217, 0.68328452,
        0.69453966, 0.71423812, 0.71689917, 0.73347608, 0.75855026,
        0.67256583, 0.67169139, 0.66794236, 0.67442823, 0.67824583,
        0.6704483 , 0.69315623, 0.68405668, 0.69342277, 0.70299615,
        0.70850955, 0.70585581, 0.71908494, 0.73621805, 0.75471981]),
 'split1_test_score': array([0.76186657, 0.76179945, 0.7380615 , 0.76152553, 0.73859265,
        0.74464033, 0.74489579, 0.74307707, 0.76167197, 0.76155202,
        0.76142486, 0.75139499, 0.75453532, 0.75350289, 0.7568982 ,
        0.65483911, 0.67052489, 0.65796307, 0.65685405, 0.6743868 ,
        0.66870071, 0.68072864, 0.67130443, 0.67294782, 0.69214724,
        0.68482916, 0.70590013, 0.71640896, 0.73295841, 0.75545809,
        0.66274486, 0.66984104, 0.66334441, 0.67404994, 0.67771805,
        0.68585083, 0.68071997, 0.69641378, 0.69354592, 0.69978918,
        0.694136  , 0.71362179, 0.72256567, 0.73707932, 0.75910549]),
 'split2_test_score': array([0.72964194, 0.76277441, 0.74076702, 0.76307996, 0.73080427,
        0.74335967, 0.74153099, 0.74280283, 0.74878597, 0.74700706,
        0.7480562 , 0.74949583, 0.7631983 , 0.75766024, 0.76343304,
        0.66600112, 0.6560692 , 0.67051911, 0.67534682, 0.68322832,
        0.67376782, 0.67344123, 0.68787701, 0.66227874, 0.68739611,
        0.68978468, 0.70797511, 0.71697704, 0.72915976, 0.75504094,
        0.66482836, 0.66240976, 0.66311625, 0.67031808, 0.66997367,
        0.67176012, 0.68918899, 0.68447945, 0.67986545, 0.69722303,
        0.71918208, 0.71248659, 0.72123972, 0.73381439, 0.75316755]),
 'split3_test_score': array([0.75018577, 0.75014001, 0.749921  , 0.72775723, 0.7319149 ,
        0.75001654, 0.72266747, 0.72889611, 0.74992469, 0.75007932,
        0.73157258, 0.73958076, 0.74147254, 0.73905668, 0.7478473 ,
        0.64907755, 0.65293417, 0.6432166 , 0.65585678, 0.66561769,
        0.66376718, 0.67748876, 0.66538198, 0.66710469, 0.6692325 ,
        0.68421468, 0.70082322, 0.70620215, 0.72403661, 0.74631712,
        0.66926108, 0.67983333, 0.65626477, 0.65361914, 0.66379094,
        0.67457193, 0.66858895, 0.68323555, 0.6705273 , 0.6962211 ,
        0.69200337, 0.70324655, 0.70644669, 0.72483189, 0.74469621]),
 'split4_test_score': array([0.73322443, 0.73892653, 0.73728669, 0.73517524, 0.75989977,
        0.73380172, 0.73940889, 0.76005381, 0.74506248, 0.73657254,
        0.7488875 , 0.74571832, 0.74805577, 0.75290109, 0.75827727,
        0.66373362, 0.66538888, 0.67226034, 0.65718019, 0.66782655,
        0.66794172, 0.67666811, 0.66888027, 0.68820499, 0.68702149,
        0.69907639, 0.70291779, 0.71612487, 0.73347147, 0.75465851,
        0.67307745, 0.66990587, 0.66538599, 0.68358471, 0.67401102,
        0.68233086, 0.67986315, 0.68471328, 0.68641496, 0.69161382,
        0.709539  , 0.70722999, 0.7226905 , 0.73961   , 0.75575607]),
 'mean_test_score': array([0.74803153, 0.7557574 , 0.74632802, 0.74638865, 0.74532671,
        0.74319724, 0.73941004, 0.74452717, 0.7505396 , 0.75208936,
        0.75105325, 0.75025661, 0.75454205, 0.75356471, 0.75803188,
        0.65976612, 0.66276756, 0.66339353, 0.66208569, 0.67203705,
        0.67250302, 0.67552242, 0.67604885, 0.67363968, 0.68381637,
        0.69048891, 0.70637087, 0.71452244, 0.73062047, 0.75400498,
        0.66849552, 0.67073628, 0.66321076, 0.67120002, 0.6727479 ,
        0.67699241, 0.68230346, 0.68657975, 0.68475528, 0.69756865,
        0.704674  , 0.70848815, 0.71840551, 0.73431073, 0.75348903]),
 'std_test_score': array([0.01448841, 0.00988671, 0.01063461, 0.01403231, 0.01450737,
        0.00525033, 0.00892626, 0.01001233, 0.00579973, 0.01032487,
        0.01186951, 0.00844472, 0.00901954, 0.00838754, 0.00576909,
        0.00666991, 0.007021  , 0.01147554, 0.00742605, 0.00629567,
        0.00853128, 0.0038863 , 0.00941472, 0.0089508 , 0.00781617,
        0.00569295, 0.00463441, 0.004172  , 0.00366687, 0.00408349,
        0.00411499, 0.00555861, 0.00388312, 0.0098162 , 0.00537491,
        0.00605032, 0.0085058 , 0.00494272, 0.008735  , 0.00378903,
        0.01020253, 0.00395799, 0.00611843, 0.00508881, 0.00480866]),
 'rank_test_score': array([11,  2, 13, 12, 14, 16, 17, 15,  9,  7,  8, 10,  3,  5,  1, 45, 43,
        41, 44, 37, 36, 33, 32, 34, 29, 26, 23, 21, 19,  4, 40, 39, 42, 38,
        35, 31, 30, 27, 28, 25, 24, 22, 20, 18,  6], dtype=int32)}

In [256]:
data_for_test

,radiant_sum_gold,radiant_max_gold,radiant_min_gold,dire_sum_gold,dire_max_gold,dire_min_gold,radiant_max_lh,radiant_min_lh,radiant_sum_lh,dire_max_lh,...,dire_hero_101,dire_hero_102,dire_hero_103,dire_hero_104,dire_hero_105,dire_hero_106,dire_hero_107,dire_hero_108,dire_hero_109,dire_hero_110
0,0.207340,-0.264248,0.813984,-0.926862,-0.342132,-1.188654,-0.213023,-1.142926,-0.101378,-0.037065,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2.205336,-0.171793,2.700292,1.004050,-0.041490,1.327962,-1.056118,1.112620,-0.101378,-0.873671,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2,-1.151112,-1.116887,-0.746902,0.505302,0.446218,1.567012,-0.289668,0.862004,-0.170544,0.115045,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.389848,-0.553753,0.564242,0.046315,1.051320,0.083771,-0.519603,-0.391077,-0.550960,-0.797616,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,-0.103996,-0.192339,-0.207687,0.843849,-0.671407,1.390077,-0.749538,1.112620,-0.032211,0.647431,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24969,1.138281,2.133041,0.715601,1.320979,0.591290,0.733160,-0.672893,-0.391077,-0.965960,0.799541,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
24970,-1.165299,-1.626790,0.157466,0.104991,-0.825068,0.488463,-2.359083,-0.641694,-2.210958,-2.318718,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
24971,0.627184,-0.105487,1.627537,1.837871,2.441909,0.593871,0.016912,3.117551,0.694038,-0.113120,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
24972,-0.061820,-0.127900,0.093138,0.725338,0.073040,0.921388,0.783362,-1.142926,-0.205128,0.495320,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
24973,1.924673,3.102417,0.235037,-0.112343,-0.684769,-0.219277,1.013297,1.112620,1.212787,-0.265230,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [246]:
result5.to_csv("answer4.csv", index=False)

In [114]:
result_raw[:, 1:2].flatten()

array([0.75340524, 0.55867831, 0.17710645, ..., 0.34507832, 0.45254833,
       0.84239178])

In [317]:
an = result6.copy()

In [125]:
result6 = pd.DataFrame({'mid': test_data['mid'], 'radiant_win': result_raw[:, 1:2].flatten()})

In [126]:
result6.to_csv("answer40.csv", index=False)

In [320]:
(an != result6).sum()

mid                0
radiant_win    24974
dtype: int64